<!DOCTYPE html>
<html lang="en">
  {{ partial "header.html" . }}
  <body>
    <div class="container" id="playground">
      <h1>{{ .Title }}</h1>
      <div>{{ .Content }}</div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="templateTextArea">Template</label>
            <textarea
              class="form-control"
              id="templateTextArea"
              rows="5"
              autocomplete="off"
            >
              {{- .Params.defaultTemplate -}}
            </textarea>
          </div>
          <div class="form-group">
            <label for="dataTextArea">Data (JSON)</label>
            <textarea
              class="form-control"
              id="dataTextArea"
              rows="5"
              autocomplete="off"
            >
              {{- .Params.defaultValues -}}
            </textarea>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="renderTextArea">Render</label>
            <textarea
              class="form-control"
              id="renderTextArea"
              rows="5"
            ></textarea>
          </div>
          <button id="renderBtn" type="button" class="btn btn-primary">
            Render
          </button>
        </div>
      </div>
    </div>
    <!-- /container -->
    {{ partial "footer.html" . }}

    <script src="/exp/wasm_exec.js"></script>
    <script>
      const go = new Go();
      WebAssembly.instantiateStreaming(
        fetch('/exp/playground.wasm'),
        go.importObject
      ).then((result) => {
        go.run(result.instance);
      });

      $('#renderBtn').click(() => {
        let template = $('#templateTextArea').val();
        let data = $('#dataTextArea').val();
        // Render the template via WASM exposed function.
        let output = GoTmplRender(template, data);
        $('#renderTextArea').html(output);
      });
    </script>
  </body>
</html>
