# Build
.travis/
node_modules/
build/
public/
resources/
VERSION*
assets/js/exp/wasm/
assets/jsconfig.json

# Testing
reports/
coverage/
*.bin

# Hugo
*.lock

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
