# Submodule that we do not control directly.
assets/embed-like-gist/

# Specific templated files that do not match their extension
assets/js/index.tpl.js

# Built or static assets
static/
resources/
app/site/public/
coverage/
assets/js/exp/wasm/

# Old site
old/

# Not wanted on .md content currently
*.md
content/

# Specific files where prettier is not needed.
layouts/partials/jsx.html
