# CircleCI configuration file

version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@2.1.0

commands:
  # This command is used to validate that the files passed from the build to
  # the deploy stage are identical.
  hash_build:
    description: Compute hashes of the build directory for comparison
    steps:
      - run:
          name: Compute hashes of app/public directory
          command: >
            find app/public -type f -print0 |
            sort -z |
            xargs -0 sha256sum |
            tee >(cat 1>&2) |
            sha256sum

jobs:
  build:
    docker:
      - image: cimg/go:1.16-node

    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init

      # Environment
      - run:
          name: Print environment information
          command: |
            set -x
            go version
            go env
            node --version
            npm --version

      # Install
      - restore_cache:
          keys:
            - v1-go-{{ checksum "app/go.mod" }}-{{ checksum "tools/go.mod" }}
            - v1-go-
      - run:
          name: Install Go-based tooling
          working_directory: 'tools'
          command: ./install-tools
      - run:
          name: Install Go app dependencies
          working_directory: 'app'
          command: go install -v
      - save_cache:
          key: v1-go-{{ checksum "app/go.mod" }}-{{ checksum "tools/go.mod" }}
          paths:
            # Observed from `go env` output, above
            - ~/go
            - ~/.cache

      # Go tests
      - run:
          name: Run Go tests
          working_directory: 'app'
          command: go test -v ./...

      # NPM tests
      - run:
          name: Install Node-based tooling
          command: npm install
      - run:
          name: Run NPM lints
          working_directory: 'app'
          command: npm run lint

      # Site build
      - run:
          name: Build site
          command: npm run build
      - hash_build
      - store_artifacts:
          path: app/public
      - persist_to_workspace:
          root: .
          paths:
            - app/public

  deploy:
    executor: gcp-cli/google
    steps:
      # Uses pre-defined environment variables:
      # https://circleci.com/developer/orbs/orb/circleci/gcp-cli#commands-initialize
      # The service account was provisioned according to the instructions here,
      # with the exception of scoping the iam.serviceAccountUser role to the
      # specific App Engine service account, and the compute.storageAdmin role
      # to the specific storage buckets, ref:
      # https://cloud.google.com/appengine/docs/standard/go/roles#recommended_role_for_application_deployment
      - gcp-cli/initialize
      - run:
          name: Disable gcloud CLI prompts
          command: gcloud config set core/disable_prompts true
      - checkout
      - attach_workspace:
          at: .
      - hash_build
      - run:
          name: Install additional dependencies
          command: |
            apt-get install -y jq
      - run:
          name: Deploy to App Engine
          command: ./scripts/deploy-appengine
      - run:
          name: Cleanup older versions in App Engine
          # We keep 10 versions as this is reasonably under 15, the max allowed
          # for the free tier:
          # https://cloud.google.com/appengine/docs/standard/go/an-overview-of-app-engine#limits
          command: ./scripts/cleanup-appengine default 10
      - when:
          # Only follow this step on the main branch
          condition:
            equal: [main, << pipeline.git.branch >>]
          steps:
            # https://developers.google.com/search/docs/advanced/sitemaps/build-sitemap
            - run:
                name: Submit sitemap to Google
                command: |
                  TARGET="$(cat app/public/robots.txt \
                          | grep 'Sitemap:' \
                          | awk '{print $2}')"
                  set -x
                  curl -v "https://www.google.com/ping?sitemap=$TARGET"

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
