{{ define "main" }}
<div class="row">
  <div class="col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
    {{ range .Data.Terms.ByCount }}
    <a class="btn btn-light" href="{{ .Page.Permalink }}">
      {{ .Page.Title }} &nbsp;
      <small>{{ .Count }}</small>
    </a>
    {{ end }}
  </div>

  <!-- Sidebar -->
  <div class="col-md-3">{{ partial "sidebar.html" . }}</div>
</div>
{{ end }}
