<div class="summary">
  <div class="row">
    <div class="col-md-5 thumbnail">
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">
        <img
          src="
            {{- $resource := print `images` .Page.RelPermalink (.Params.header_img) -}}
            {{- $image := resources.Get $resource -}}
            {{- $image.RelPermalink -}}
          "
          class="img-fluid"
          alt="Thumbnail Image"
        />
      </a>
    </div>
    <div class="col-md-7 caption">
      <a href="{{ .RelPermalink }}" title="{{ .Title }}"
        ><h3>{{ .Title }}</h3></a
      >
      <p>{{ .Description }}</p>
      <p>
        <button type="button" class="btn btn-light" href="{{ .Permalink }}">
          View details &raquo;
        </button>
      </p>
    </div>
  </div>
</div>
