/* ref: https://coolors.co/555b6e-89b0ae-bee3db-faf9f9-ffd6ba */
$independence: #555b6eff;
$morning-blue: #89b0aeff;
$powder-blue: #bee3dbff;
$cultured: #faf9f9ff;
$apricot: #ffd6baff;

/* brandmark */
$background: #faf9f9;
$foreground: #317893;
$accent1: #6091a0;
$accent2: #90abad;
$accent3: #c0c5bb;

/* misc */
$links: #2d70b9;

body {
  font-family: Lato, sans-serif;
}

a {
  color: $links;
}

.small,
small {
  color: #777;
}

.muted {
  color: #777;
}

figcaption {
  color: #777 !important;
  font-size: 0.8rem !important;
}

nav.navbar {
  margin-bottom: 1rem;

  img {
    padding-right: 0.5rem;
  }

  .nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.lead {
  padding-top: 30px;
}

.jumbotron {
  margin-top: -25px;

  /* height: 350px; */
  color: black;

  /* text-shadow: #444 0 1px 1px; */
  background: url('../img/view-tall-comp.jpg');
  background-position: center;
  background-size: cover;
}

.jumbotron > .container {
  padding-top: 5px;
  padding-bottom: 170px;
  text-align: center;
}

/* Footer */
.footer {
  margin-top: 50px;
  margin-bottom: 25px;
  border: solid 1px #eee;
  background: linear-gradient(
    #eee,
    #fff,
    #fff,
    #fff,
    #fff
  ); /* For:
  - Safari 5.1 to 6.0
  - Opera 11.1 to 12.0
  - Firefox 3.6 to 15 */

  background: repeating-linear-gradient(
    #eee,
    #fff,
    #fff,
    #fff,
    #fff
  ); /* Standard syntax */
}

.copyright {
  margin-top: 2em;

  p {
    font-size: small;
  }

  a {
    color: inherit;
  }
}

.summary {
  margin-bottom: 2rem;

  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  img {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

// General overrides to improve the styling of emgithub.
.emgithub-container {
  /* Normalize the formatting of embedded github code */
  line-height: 1.05rem;

  code {
    /* Smaller than the default from Bootstrap of 87.5% */
    font-size: 80%;

    // No padding needed here, handled on individual rows.
    padding: 0 !important;
  }

  .hljs-ln td.hljs-ln-numbers {
    // Matches the pre-existing padding-right;
    padding-left: 1.25rem;
  }
}

// stylelint-disable-next-line selector-class-pattern
.MathJax {
  overflow: scroll;
}

/* Set font sizes for headers in the about page to the desired value */
.type-about {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  p {
    font-size: 0.9rem;
  }
}

/* Blog Post */
.type-blog {
  #content {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5rem;
    }
  }

  p {
    line-height: 1.7em;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .img {
    padding: 0.5em;
  }

  pre code {
    line-height: 1.05rem;
  }
}

/* Social Links */
.btn-outline {
  margin-top: 15px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: #ddd;
  border: solid 2px #ddd;
  background: 0 0;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #999;
  border: solid 2px #999;
  background: #fff;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 100%;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}
