<script
  src="https://giscus.app/client.js"
  data-repo="kujenga/website"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyNjU4MDg4MQ=="
  data-category="Blog Post Comments"
  data-category-id="DIC_kwDOAZWXkc4CAC59"
  data-mapping="og:title"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-theme="light"
  data-lang="en"
  crossorigin="anonymous"
  async
></script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://github.com/giscus/giscus" rel="nofollow"
    >comments powered by Giscus.</a
  ></noscript
>
