<!-- <footer>
  <p>&copy; Aaron Taylor 2015</p>
</footer> -->
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="col-md-6">
      <ul class="list-inline">
        <li>
          <p class="text-muted">&copy; Aaron Taylor 2015</p>
        </li>
        <li>
            <a href="{{ .Site.Params.github }}" class="btn-social btn-outline" target=newtab><i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
            <a href="{{ .Site.Params.linkedin }}" class="btn-social btn-outline" target=newtab><i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
            <a href="{{ .Site.Params.twitter }}" class="btn-social btn-outline" target=newtab><i class="fa fa-fw fa-twitter"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</footer>
