<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
      var scrolled = $(window).scrollTop();
      $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }

  $(window).scroll(function(e){
      parallax();
  });
</script>

<script type="text/javascript" charset="utf-8">
	// highlight menu bar appropriately: http://stackoverflow.com/questions/11813498/make-twitter-bootstrap-navbar-link-active#answer-25082875
	$(document).ready(function() {
	    $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
	});
</script>
</body>
</html>
