<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm copyright">
        <p class="text-muted">
          {{ replace .Site.Copyright "{year}" now.Year | safeHTML }}, Licensed
          under
          <a
            rel="license"
            href="https://github.com/kujenga/website/blob/main/LICENSE"
            >CC-BY-4.0</a
          >.
        </p>
      </div>
      <div class="col-sm">
        <ul class="float-right">
          <li class="list-inline-item">
            <a
              href="{{ .Site.Params.linkedin }}"
              class="btn-social btn-outline"
              target="newtab"
              aria-label="LinkedIn"
              ><i class="fa fa-fw fa-linkedin"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="{{ .Site.Params.github }}"
              class="btn-social btn-outline"
              target="newtab"
              aria-label="GitHub"
              ><i class="fa fa-fw fa-github"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="{{ .Site.Params.angellist }}"
              class="btn-social btn-outline"
              target="newtab"
              aria-label="Angel List"
              ><i class="fa fa-fw fa-angellist"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="{{ .Site.Params.twitter }}"
              class="btn-social btn-outline"
              target="newtab"
              aria-label="Twitter"
              ><i class="fa fa-fw fa-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="{{ .Site.Params.instagram }}"
              class="btn-social btn-outline"
              target="newtab"
              aria-label="Instagram"
              ><i class="fa fa-fw fa-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="{{ .Site.Params.keybase }}"
              class="btn-social btn-outline"
              target="newtab"
              aria-label="Keybase"
              ><i class="fa fa-fw fa-key"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
