<form
  id="search"
  action="{{ with .GetPage `/search` }}{{.RelPermalink}}{{end}}"
  method="get"
  class="form-inline my-2 my-lg-0"
>
  <div class="form-group">
    <label hidden class="control-label" for="search-input">Search</label>
    <input
      type="text"
      id="search-input"
      class="form-control mr-sm-2"
      name="query"
      placeholder="Search"
      autocomplete="off"
    />
  </div>
  <button
    type="submit"
    id="completed-task"
    class="btn btn-light"
    aria-label="Search"
  >
    <i class="fa fa-search fa-lg"></i>
  </button>
</form>
