<div id="sidebar" class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4>Looking Outward</h4>
    </div>
    <div class="panel-body">
        <div>
            <ul>
                <li><a href="https://www.meta.sc" title="Meta" target=newtab>Meta</a></li>
            </ul>
        </div>
        <div>
            <h3>Other Posts</h3>
            <ul>
            {{ range $.Site.Data.external }}
                <li><a href="{{ .Link }}" title="{{ .Name }}" target=newtab>{{ .Name }}</a></li>
            {{ end }}
            </ul>
        </div>
    </div>
</div>
